.sidebar {
    width: 250px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  
  .sidebar-item {
    margin-bottom: 20px;
  }
  
  .sidebar-header {
    display: block;
    width: 100%;
    padding: 10px;
    border: solid;
    background-color: green;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    margin-bottom: 30px;
  }
  
  .sidebar-header.active {
    background-color: blue;
  }
  
  .sidebar-item ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .sidebar-item ul.open {
    max-height: 500px; /* Adjust the value based on your content height */
  }
  
  .sidebar-item ul p {
    margin-bottom: 8px;
  }
  
  .sidebar-item ul p a {
    display: block;
    padding: 8px;
    background-color: #f2f2f2;
    color: black;
    text-decoration: none;
  }
  
  .sidebar-item ul p a.active {
    background-color: blue;
    color: white;
  }